.main {
    position: relative;
    padding-top: 70px;
}
.off-canvas {
    background: #fff;
    height: 100vh;
}
.react-autosuggest__container {
    position: relative;
    flex-grow: 1;
    z-index: 1000;
}
.react-autosuggest__input {
    width: 100%;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    text-align: center;
    background: #fff;
    /* box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF; */
    box-shadow: 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
    transition: all 0.2s ease-in-out;
}

  .react-autosuggest__input--focused {
    outline: none;
    /* box-shadow: 6px 6px 11px rgba(163, 177, 198, 0.6),
    -6px -6px 11px rgba(255, 255, 255, 0.5),
    inset 3px 3px 7px rgba(136, 165, 191, 0.48), 
    inset -3px -3px 7px #FFFFFF; */
    /* background: linear-gradient(318.32deg, rgba(163, 177, 198, 0.1) 0%, rgba(163, 177, 198, 0.1) 55%, rgba(163, 177, 198, 0.25) 100%); */
  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    border: none;
    background: #e0e5ec;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-radius: 4px;
    z-index: 1001;
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
  }

  .header__info {
    display: flex;
    flex-grow: 1;
    max-width: calc(100% - 115px);
    justify-content: center;
    padding: 10px 10px;
    width: 100%;
    height: 28px;
    /* box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5); */
    font-size: 14px;
    flex-wrap: nowrap;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.4);
  }

  .header__info .header__info--name {
    flex-shrink: 1;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-size: 0.68rem;
    line-height: 1;
  }
  .header__info .header__info--price {
    margin-top: 2px;
    flex-grow: 1;
    text-align: center;
    font-size: 0.54rem;
    line-height: 1;
  }
  /* .header__info .header__info--search {
    margin-left: 20px;
  } */

  .posts__item {
      border-top-width: 1px;
  }

  .min-h-50 {
    min-height: 50vh;
  }

.rdw-editor-wrapper {
  position: relative;
}

.rdw-editor-toolbar .rdw-emoji-wrapper,
.rdw-editor-toolbar .rdw-embedded-wrapper,
.rdw-editor-toolbar .rdw-link-wrapper,
.rdw-editor-toolbar .rdw-image-wrapper,
.rdw-editor-toolbar .rdw-colorpicker-wrapper {
    position: static;
}

.rdw-editor-toolbar .rdw-emoji-modal,
.rdw-editor-toolbar .rdw-embedded-modal,
.rdw-editor-toolbar .rdw-link-modal,
.rdw-editor-toolbar .rdw-image-modal,
.rdw-editor-toolbar .rdw-colorpicker-modal {
  width: 100%;
}

.rdw-editor-toolbar .rdw-image-modal-header-option,
.rdw-editor-toolbar .rdw-embedded-modal-header-option {
  width: auto;
}

.rdw-editor-toolbar .rdw-link-modal {
  height: auto;
}

.rdw-editor-main.demo-editor {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 50vh;
  border: 1px solid #e2e8f0;
}

.border-t-1 {
  border-top: 1px;
}

.shadow-upper {
  box-shadow: 0 0 5px 2px rgba(0.5, 0.5, 0.5, 0.2);
}